<div class="container">
  <h1>Cadastrar Gerente</h1>
  <form #formAdminGerente="ngForm">
    <section class="d-flex flex-column gap-2">
      <div>
        <label><b>Nome</b></label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do gerente" [(ngModel)]="gerente.nome"
          #nome="ngModel" [minLength]="5" required />
        <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="item alert alert-danger">
          <div [hidden]="!nome.errors?.['required']">
            Digite o nome do gerente
          </div>
        </div>
      </div>
      <div>
        <label><b>Senha:</b></label>
        <input type="password" class="form-control item" id="senha" name="senha" placeholder="Senha" minlength="6"
          [(ngModel)]="gerente.senha" #senha="ngModel" required />
        <div *ngIf="senha.errors && (senha.dirty || senha.touched)" class="alert alert-danger item">
          <div [hidden]="!senha.errors['minlength']">A senha precisa ser maior ou igual a 6 caracteres</div>
          <div [hidden]="!senha.errors['required']">
            Digite uma senha
          </div>
        </div>
      </div>

      <div>
        <label><b>E-mail</b></label>
        <input type="text" class="form-control" id="email" name="email" placeholder="fulano@email.com" [(ngModel)]="gerente.email"
          #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="item alert alert-danger">
          <div [hidden]="!email.errors?.['required']">
            Digite um e-mail válido
          </div>
          <div [hidden]="!email.errors?.['pattern']">E-mail inválido</div>
        </div>
      </div>
      <div>
        <label><b>CPF:</b></label>
        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" [(ngModel)]="gerente.cpf"
          #cpf="ngModel" data-inputmask="'mask': '99999999999'" [minLength]="11" required />
        <div *ngIf="cpf.errors && (cpf.dirty || cpf.touched)" class="item alert alert-danger">
          <div [hidden]="!cpf.errors?.['minLength']">cpf invalido</div>
          <div [hidden]="!cpf.errors?.['required']">cpf invalido</div>
        </div>
      </div>
      <div class="d-flex justify-content-start gap-2 pt-2">
        <button [routerLink]="'/admin/gerentes'" type="button" class="btn btn-secondary">
          Cancelar
        </button>

        <button type="button" class="btn btn-primary" (click)="salvar()">
          Salvar
        </button>
      </div>
    </section>
  </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>