<div class="main container d-flex align-items-center justify-content-center">
  <div class="card">
    <div class="row">
      <div class="col-6">
        <h1 class="title">BANTADS</h1>
        <h2 class="description">A sua ajuda, na hora que você precisa</h2>
        <div class="enter">
          <button type="button" class="btn btn-success" routerLink="/login">ENTRAR</button>
          <button type="button" class="btn btn-primary" routerLink="/autoCadastro">CADASTRE-SE</button>
        </div>
      </div>
      <div class="col-6">
        <img src="assets/img/banking.gif" width="400">

      </div>
    </div>
  </div>

</div>


