/* Estilo retro para .wrimagecard */

.wrimagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #f0f0f0; /* Cor de fundo retro */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra retro */
    border-radius: 10px; /* Arredonde as bordas para um estilo mais suave */
    transition: all 0.3s ease;
    padding: 20px; /* Espaçamento interno retro */
}

.wrimagecard .fa-solid {
    position: relative;
    font-size: 50px; /* Tamanho do ícone retro */
    color: #333; /* Cor do ícone retro */
}

.wrimagecard-topimage_header {
    padding: 20px;
}

a.wrimagecard:hover,
.wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4); /* Sutil sombra ao passar o mouse retro */
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 60px; /* Altura do título retro */
    position: relative;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #333; /* Cor do texto retro */
    transition: color 0.3s ease;
}
