<app-administrador-header></app-administrador-header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu"
            class="area-logada__sidebar administradorcol-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
            </div>
        </nav>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container mt-5">
            <h1>Inicial Administrador</h1>

            <section class="container">
                <div class="row">
                    <div class="saldo__table col-md-9">
                        <table>
                            <thead>
                              <tr>
                                <th>Gerente</th>
                                <th>Clientes</th>
                                <th>Total de saldos positivos</th>
                                <th>Total de saldos negativos</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let gerente of gerentes">
                                <td>{{ gerente.nome }}</td>
                                <td>{{ gerente.clientes }}</td>
                                <td>{{ gerente.saldoPositivo }}</td>
                                <td>{{ gerente.saldoNegativo }}</td>
                              </tr>
                            </tbody>
                          </table>                                                  
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>