<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="/gerente">BANTADS</a>
    <div class="nav-central">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/gerente/clientes"><i class="far fa-address-book"></i>Clientes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/gerente/consultar-cliente"><i class="fas fa-search"></i>Consultar Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/gerente/melhores-clientes"><i class="far fa-chart-bar"></i>Melhores Clientes</a>
            </li>
        </ul>
    </div>
    <a class="nav-logout" href="#">Sair</a>
</nav>