<div class="container-fluid">
  <div class="container">
    <div style="width: 70%; padding-top: 40px; margin: 0 auto !important;float: none !important;">
      <table class="table" style="text-align:center">
        <thead class="thead-dark">
          <tr>

            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Salário</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of clientes">
            <td>{{item.cpf}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.salario}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="abrirModal(1,item.conta?.id)">
                Aprovar <i class="fa fa-check" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="abrirModal(2,item.conta?.id)">
                Recusar <i class="fa fa-ban" aria-hidden="true"></i>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
