<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">

      <div *ngIf="usuarioLogado === null">
        <div>
          <a class="navbar-brand" [routerLink]="['/login']">BANTADS</a>
        </div>
      </div>

      <div *ngIf="usuarioLogado !== null">
        <div *ngIf="usuarioLogado.nivel === 'cliente'">
          <a class="navbar-brand" [routerLink]="['cliente/index']">BANTADS</a>
        </div>
        <div *ngIf="usuarioLogado.nivel === 'gerente'">
          <a class="navbar-brand" [routerLink]="['gerente/index']">BANTADS</a>
        </div>
        <div *ngIf="usuarioLogado.nivel === 'administrador'">
          <a class="navbar-brand" [routerLink]="['administrador/index']">BANTADS</a>
        </div>
      </div>

      <div *ngIf="usuarioLogado !== null">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto space" *ngIf="usuarioLogado.nivel === 'administrador'">
            <li class="nav-item">
              <a routerLink="/admin/index" class="nav-link">Principal</a>
            </li>
            <li class="nav-item">
              <a routerLink="/admin/gerentes" class="nav-link">Gerentes</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-link " (click)="logout()">Deslogar</button>
            </li>
          </ul>
          <ul class="navbar-nav me-auto space" *ngIf="usuarioLogado.nivel=== 'gerente'">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['gerente/index']">Pendentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['gerente/consultar']">Consultar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['gerente/consultar-cliente']">Consultar Cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['gerente/melhores-clientes']">Melhores Clientes</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-link " (click)="logout()">Deslogar</button>
            </li>
          </ul>
          <ul class="navbar-nav me-auto space">
          </ul>
          <ul class="navbar-nav me-auto space" *ngIf="usuarioLogado.nivel === 'cliente'">
            <li class="nav-item">
              <button type="button" class="btn btn-link " (click)="logout()">Deslogar</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
