<div class="container-fluid mt-5">
  <div class="container">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th>Cpf</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Salario</th>
          <th>Saldo</th>
          <th>cidade</th>
          <th>estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of clientes">
          <td>{{ person.cpf }}</td>
          <td>{{ person.nome }}</td>
          <td>{{ person.email }}</td>
          <td>R$ {{ person.salario }}</td>
          <td>R$ {{ person.conta?.saldo }}</td>
          <td>{{ person.endereco?.cidade }}</td>
          <td>{{ person.endereco?.estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
