.title {
    padding-bottom: 20px;
    color: #108d2f;
}

.box {
    margin-left: 40px;
    margin-right: 40px;
}

.account-info {
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    width: 70%;
}

.title-inline {
    display: inline;
}

.secondary-title {
    margin-left: 300px;
}

.negative-balance {
    color:  rgb(221, 54, 54);
}

label {
    font-size: 18px;
}

span {
    font-size: 18px;
    float: right;
}

h3 {
    margin-top: 30px;
}

.child-div {
    padding-left: 70px;
}

form {
    margin-top: 30px;
}

form input {
    margin-top: 10px;
    margin-bottom: 20px;
}

#btn-depositar {
    margin-top: 45px;
    width: 100%;
    height: 50px;
}