<app-header-cliente></app-header-cliente>
<div class="text-center mx-auto col-md-3">
    <table class="mt-5">
        <thead>
            <tr>
                <th class="w-25">Portal do Cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row-tbody">
                <td>
                    <a class="" routerLink="/conta/perfil">Perfil</a>
                </td>
            </tr>
            <tr class="row-tbody">
                <td>
                    <a class="" routerLink="/conta/deposito">Depositar</a>
                </td>
            </tr>
            <tr class="row-tbody">
                <td>
                    <a class="" routerLink="/conta/saque">Sacar</a>
                </td>
            </tr>
            <tr class="row-tbody">
                <td>
                    <a class="" routerLink="/conta/transferencia">Transferir</a>
                </td>
            </tr>
            <tr class="row-tbody">
                <td>
                    <a class="" routerLink="/conta/extrato">Ver extrato</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>