<app-gerente-header></app-gerente-header>
<main class="container text-light mt-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card card-perfil">
                <img id="icon" src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_960_720.png"
                    alt="icon">
                <h3 id="name">Cliente</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="card">
                <h3 class="text text-title">Dados Pessoais</h3>
                <h5 class="mt-4" id="text" style="margin-top:5px;">Nome: Amanda Silva</h5>
                <h5 id="text">CPF: 92332586024</h5>
                <h5 id="text">Cidade: Fortaleza</h5>
                <h5 id="text">Estado: Ceará</h5>
                <h3 id="text" style="margin-top:3rem;">Dados da Conta</h3>
                <h5 class="mt-4" id="text" style="margin-top:5px;">Conta: 9231098</h5>
                <h5 id="text">Agência: 0001-1</h5>
                <h5 id="text">Status: Ativa</h5>
                <h5 id="text">Saldo da Conta R$:8.000,00</h5>
            </div>
        </div>
    </div>
</main>